/* common style for success and errors */
.success, .error {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

/* specific style for success (green) */
.success {
  color: green;
}

/* specific style for error (red) */
.error {
  color: red;
}
